<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <add value="wsgi_server.py" />
            </files>
        </defaultDocument>
        <handlers>
            <add name="Python FastCGI" path="*" verb="*" modules="FastCgiModule"
                scriptProcessor="C:\inetpub\wwwroot\%APP_NAME%\venv\Scripts\python.exe|C:\inetpub\wwwroot\%APP_NAME%\venv\Lib\site-packages\wfastcgi.py"
                resourceType="Unspecified" requireAccess="Script" />
        </handlers>
    </system.webServer>
    <appSettings>
        <add key="PYTHONPATH" value="C:\inetpub\wwwroot\%APP_NAME%;C:\inetpub\wwwroot\%APP_NAME%\venv\Lib\site-packages" />
        <add key="WSGI_HANDLER" value="wsgi_server.wsgi_handler" />
        <add key="WSGI_LOG" value="C:\inetpub\wwwroot\%APP_NAME%\storage\logs\wsgi_server.log" />
    </appSettings>
</configuration>